.App {
  text-align: center;
}


.utama {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.Movie-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper{
  margin-top: 20px;
  color: black;
}

.atas{
  margin-bottom: 60px;
}

.testing{
  height: 20px;
  
}
.imageUtama{
  border-radius: 16px;
  height: 100%;
  width: 100%;
}
figure{ 

  height: 230px;
  width: 170px;
}

.atasC > * {

  transform: translateY(25px);
  transition: transform 0.4s;
}

.atasC:hover > * {

  border: white solid 1px;
  transform: translateY(0px);
  border-radius: 16px;
}

.absolut{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s;
}

.absolut:hover{
  opacity: 1;

}
.github:hover{
  height: 28px;
  transition: 0.7s;
}


.testing{
  font-size: 10px;
  font-family:cursive;
}